In [48]:
import sqlalchemy as db

In [49]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer,String

In [50]:
engine = db.create_engine('sqlite:///user.db')

In [51]:
connection = engine.connect()

In [52]:
meta = db.MetaData()

In [53]:
user_alchemy = db.Table(
                    'user_alchemy', meta,
                    db.Column('User_Id', Integer),
                    db.Column('First_Name', String),
                    db.Column('Last_Name', String),
                    db.Column('Email', String)
)

In [54]:
meta.create_all(engine)

In [55]:
ins = user_alchemy.insert().values([
            {'User_Id' : 111, 'First_Name' : 'Milind', 'Last_Name' : 'Kasbekar', 'Email' : 'milindk@amdocs.com'}, 
            {'User_Id' : 222, 'First_Name' : 'ABC', 'Last_Name' : 'DEF','Email' : 'abc.def@yahoo.com'}, 
            {'User_Id' : 333, 'First_Name' : 'ADB', 'Last_Name' : 'MNO','Email' : 'adb.mno@yahoo.com'}, 
            {'User_Id' : 444, 'First_Name' : 'XYZ', 'Last_Name' : 'MNO','Email' : 'xyz.mno@yahoo.com'}, 
            {'User_Id' : 555, 'First_Name' : 'SRS', 'Last_Name' : 'DBD','Email' : 'srs.dbd@yahoo.com'}
        ]
    )

In [56]:
connection.execute(ins)

In [57]:
query_sel = db.select([user_alchemy])

In [58]:
result_proxy = connection.execute(query_sel)

In [59]:
result_set = result_proxy.fetchall()

In [60]:
print(result_set)

[(111, 'Milind', 'Kasbekar', 'milindk@amdocs.com'), (222, 'ABC', 'DEF', 'abc.def@yahoo.com'), (333, 'ADB', 'MNO', 'adb.mno@yahoo.com'), (444, 'XYZ', 'MNO', 'xyz.mno@yahoo.com'), (555, 'SRS', 'DBD', 'srs.dbd@yahoo.com')]